<div class="container">
  <div class="app-width-100">
    <div class="header">
      <p class="title"><strong>指定緊急避難場所マップ</strong></p>
      <a href="https://github.com/iwstkhr/shelter-map" target="_blank">
        <img class="git-hub" src="assets/images/GitHub-Mark-120px-plus.png" />
      </a>
    </div>

    <p>
      データセット更新日: 2024/08/27<br/>
      <a href="https://www.gsi.go.jp/bousaichiri/hinanbasho.html" target="_blank">
        国土地理院 指定緊急避難場所データ</a>を利用しています。
    </p>
  </div>

  <router-outlet></router-outlet>

  <div class="footer">Developed by Takahiro Iwasa</div>
</div>
